{% extends 'blog/base.html' %}
{% block content %}
    <div class="block">
        <p class="p-2 row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250">Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Ratione eveniet magnam deserunt illum? 
            Reprehenderit illum vel qui eligendi, 
            sequi earum mollitia dicta ex velit! Id non illum quod fugit est?
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Ratione eveniet magnam deserunt illum? 
            Reprehenderit illum vel qui eligendi, 
            sequi earum mollitia dicta ex velit! Id non illum quod fugit est?
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Ratione eveniet magnam deserunt illum? 
            Reprehenderit illum vel qui eligendi, 
            sequi earum mollitia dicta ex velit! Id non illum quod fugit est?
            <strong class="w-100 d-inline-block mb-2 text-primary" style="text-align: center;">This Site is Presented By Parzival</strong>
        </p>
    </div>
{% endblock %}

