{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="w-100 ">
    <div class="posts mb-2 w-100">
        <div class="wrap-login100 m-auto p-0 pt-5 d-flex justify-content-center">
            <div class="login100-form  alert info">
                An email is set to Reset Your Password with instructions.
                <small class="text-muted">
                    <a class='ml-2' href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
